body {
	background: rgb(30,30,30);
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	text-align: center;
	color: rgb(114, 223, 250);
	width: 1200px;
	padding-bottom: 25px;
}
.sidebar {
	position: fixed;
	left: 0;
	width: 400px;
	height: 100%;
	background: rgb(30,30,30);
	border-right: 1px solid white;
	padding-top: 5px;
}
img {
	width: 200px;
	margin-top: 25px;
}
h1 {
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.mainTitle {
	margin-bottom: 10px;
}
.projectList {
	position: absolute;
	left: 430px;
	width: 700px;
	padding-top: 15px;
	background: rgb(30,30,30);
	z-index: 1;
}
.projects {
	font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: left;
	padding-right: 5px;
}
.projectList a, .projectList a:visited {
	color: white;
	text-decoration: none;
}
.projectList a:hover {
	text-decoration: underline;
	color: rgb(114, 223, 250);
}
.contentTitle {
	text-align: left;
}