.search {
    background: rgb(30,30,30);
    width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    font-size: 50px;
    text-decoration: underline;
  }
  .about {
    font-size: 25px;
  }
  ul {
    width: 300px;
    margin: 0 auto;
    text-align: left;
    margin-top: 25px;
    padding-left: 50px;
    padding-top: 25px;
    background: rgb(30,30,30);
    font-size: 20px;
  }
  h3 {
    font-size: 40px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input {
    border: 1px solid white;
    padding: 5px;
    width: 350px;
    height: 25px;
    font-size: 25px;
  }
  input:focus {
    outline: none;
  }